body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.video {
  position: fixed;
  margin-top: 540px;
  margin-left: 1100px;
  width: 120px;
  height: 120px;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1001;
  cursor: pointer;
}

.container {
  margin-top: 80px;
  padding: 1rem;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-filter input,
.search-filter select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border 0.2s;
}

.search-filter input:focus,
.search-filter select:focus {
  border: 1px solid #4caf50;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.country-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: calc(33.333% - 1rem);
  cursor: pointer;
}

.country-card:hover {
  transform: translateY(-5px);
}

.country-card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.country-card .card-body {
  padding: 1rem;
}

.back {
  margin-left: 640px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.back:hover {
  margin-left: 640px;
  width: 100px;
  height: 50px;
  background-color: #6e6b6b;
  color: white;
  border-radius: 50px 5px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 15px 15px #1b1c1d;
  transition: 0.8s;
}

.jons {
  margin-top: 120px;
}

.mode {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 80px;
}

.mode:hover {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 40px 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.8s;
  margin-right: 80px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.card__2 {
  margin-top: 200px;
}

.dark-mode {
  background-color: #333;
  color: #f9f9f9;
}
.dark-mode .country-card {
  background-color: #444;
  color: #f9f9f9;
}
.dark-mode .search-filter input,
.dark-mode .search-filter select {
  background-color: #555;
  color: #f9f9f9;
  border: 1px solid #666;
}

@media (max-width: 900px) {
  .country-card {
    width: calc(50% - 1rem);
  }
}
@media (max-width: 500px) {
  .country-card {
    width: 100%;
  }
}